<!DOCTYPE html>
<html>
<head>
    <title>DMT 14C: Data acquisition software - Input parameters</title>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='dist/css/output.css')}}" rel="stylesheet">
</head>

<body class="bg-slate-100">

    <div class="bg-blue-900 p-3">
        <p class="text-slate-50 p-4 text-3xl text-center font-bold mt-4 mb-4">DMT 14C: Aerodynamic probe and data acquisition software</p>
        <div>
            <button class="bg-blue-800 text-slate-50 rounded p-3 border-2 ml-4 mt-4" onclick="window.location.href='/'">&#8249; Back to main page</button>
        </div>
    </div>

    <div>
        <form>
            <p class="text-xl font-bold ml-6 mt-4 mb-3">Name your profile:</p> 
            <input type="text" name="name" class="ml-4 mb-4 border-2 p-3" size="100"><br>
        </form>
    </div>

    <form action="{{url_for('motor_input_parameters')}}" method="post">
        
        <div class="bg-white rounded p-3 ml-4 mr-4 mb-4">
            <p class="text-slate-500 ml-1 mb-3">Fan Motor</p>
                <div class="grid grid-cols-2 gap-4">   
                    <div class="text-center">
                        <p class="text-xl font-bold mb-3">Duty cycle [%]</p>
                        {% if error_duty_cycle and error_duty_cycle.field == 'duty_cycle' %}
                            <p class="error-message text-red-600 mb-2">{{ error_duty_cycle.message }}</p>
                        {% endif %} 
                        <input type="number" id="duty_cycle" name="duty_cycle" class="text-center bg-slate-100 border-2 rounded p-3 mb-3" style="width: 15em"><br>      
                    </div>
                    <div class="text-center">
                        <p class="text-xl font-bold mb-3">Current [A]</p>    
                        {% if error_current and error_current.field == 'current' %}
                            <p class="error-message text-red-600 mb-2">{{ error_current.message }}</p>
                        {% endif %}              
                        <input type="number" id="current" name="current" class="col-span-2 text-center bg-slate-100 border-2 rounded p-3 mb-3" style="width: 15em"><br>          
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-4 mt-4">
                    <div class="text-center">
                        <p class="text-xl font-bold mb-3">Input speed [rpm]</p>
                        {% if error_speed and error_speed.field == 'speed' %}
                            <p class="error-message text-red-600 mb-2">{{ error_speed.message }}</p>
                        {% endif %}  
                        <input type="number" id="speed" name="speed" class="col-span-2 text-center bg-slate-100 border-2 rounded p-3 mb-2" style="width: 15em"><br>
                    </div>
                    <div class="text-center">
                        <p class="text-xl font-bold mb-3">Final speed (ramp down) [rpm]</p>
                        {% if error_ramp_down_speed and error_ramp_down_speed.field == 'ramp_down_speed' %}
                            <p class="error-message text-red-600 mb-2">{{ error_ramp_down_speed.message }}</p>
                        {% endif %} 
                        <input type="number" id="ramp_down_speed" name="ramp_down_speed" class="col-span-2 text-center bg-slate-100 border-2 rounded p-3 mb-2" style="width: 15em"><br>
                    </div>
                    <div class="text-center">
                        <p class="text-xl font-bold mb-3">Final speed (ramp up) [rpm]</p>
                        {% if error_ramp_up_speed and error_ramp_up_speed.field == 'ramp_up_speed' %}
                            <p class="error-message text-red-600 mb-2">{{ error_ramp_up_speed.message }}</p>
                        {% endif %}  
                        <input type="number" id="ramp_up_speed" name="ramp_up_speed" class="col-span-2 text-center bg-slate-100 border-2 rounded p-3 mb-2" style="width: 15em"><br>
                    </div>
                </div>
            
                <p class="text-slate-500 ml-1 mt-10 mb-3">Linear Actuator & Rotary Motor</p>
                <div class="grid grid-cols-3 gap-4 mt-4">
                    <div class="text-center">
                        <p class="text-xl font-bold mb-5">Linear actuator position [mm]</p>
                        {% if error_linear_actuator and error_linear_actuator.field == 'linear_actuator' %}
                        <p class="error-message text-red-600 mb-2">{{ error_linear_actuator.message }}</p>
                        {% endif %} 
                        <input type="number" id="linear_actuator" name="linear_actuator" class="text-center bg-slate-100 border-2 rounded p-3 mb-2" style="width: 15em"><br>      
                    </div>
                    <div class="text-center">
                        <p class="text-xl font-bold mb-5">Rotary motor position [&#176;]</p>
                        {% if error_rotary_motor and error_rotary_motor.field == 'rotary_motor' %}
                        <p class="error-message text-red-600 mb-2">{{ error_rotary_motor.message }}</p>
                        {% endif %} 
                        <input type="number" id="rotary_motor" name="rotary_motor" class="text-center bg-slate-100 border-2 rounded p-3 mb-2" style="width: 15em"><br>  
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Submit values" class="bg-green-500 hover:bg-green-600 text-xl text-center font-bold rounded p-3 mt-5">
                    </div>
                </div>
        </div>
    </form>  

</body>
</html>